services:

  router1:
    image: pierky/bird:2.0.9
    hostname: router1
    networks:
      app:
        ipv4_address: 10.0.12.11
    volumes:
      - ./bird/router1/:/etc/bird:rw
  
  router2:
    image: pierky/bird:2.0.9
    hostname: router2
    networks:
      app:
        ipv4_address: 10.0.12.22
    volumes:
      - ./bird/router2/:/etc/bird:rw


networks:

  app:
    ipam:
      config:
        - subnet: 10.0.12.0/24
